In [1]:
#site para encontrar bases de dados
#https://www.kaggle.com/

import pandas as pd
import numpy as np

In [7]:

#"E:\Estudos\DataScience-MachineLearning\kaggle - bases de dados\Salaries.csv"
sfSalarios = pd.read_excel('Salario.xlsx')
sfSalarios.head(5)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [8]:
#1 Qual a media de BasePay?

sfSalarios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  float64
 4   OvertimePay       148654 non-null  float64
 5   OtherPay          148654 non-null  float64
 6   Benefits          112495 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(7), int64(2), object(4)
memory usage: 14.7+ MB

In [9]:
#Media da coluna BasePay

sfSalarios['BasePay'].mean()

93597.85930255092

In [11]:
#Maior valor da coluna OvertimePay

sfSalarios.OvertimePay.max()

2958435.0

In [112]:
#Localizar um nome

sfSalarios[sfSalarios.EmployeeName == "JOSEPH DRISCOLL"]['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [19]:
#Quanto ganha o JOSEPH DRISCOLL?

sfSalarios[sfSalarios.EmployeeName == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [35]:
#nome da pessoa mais bem paga

sfSalarios['EmployeeName'][sfSalarios.TotalPayBenefits == sfSalarios.TotalPayBenefits.max()]

68974    Shannon Keeney
Name: EmployeeName, dtype: object

In [36]:
#Todos os dados da pessoa que recebe o menor salario

sfSalarios[sfSalarios.TotalPayBenefits == sfSalarios.TotalPayBenefits.min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
72180,72181,Jason Barnhart,Recreation Leader,900.86,0.0,6.75,93.51,907.61,-328017.0,2012,NaN,San Francisco,NaN

In [54]:
#Media da coluna BasePay por ano

sfSalarios.groupby('Year').mean().BasePay

Year
2011     96856.396449
2012     96606.504544
2013    102771.369329
2014     78702.118145
Name: BasePay, dtype: float64

In [56]:
#Quantos titulos de trabalhos unicos existem?

len(sfSalarios.JobTitle.unique())

#or sfSalarios.JobTitle.nunique

2159

In [72]:
#Quais os nomes dos trabalhos mais comuns?

sfSalarios.JobTitle.value_counts().iloc[:5]

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [101]:
#Quantas pessoas em 2013 tiveram um unico trabalho

sum(sfSalarios[sfSalarios.Year == 2013]['JobTitle'].value_counts() == 1)

202

In [132]:
#Quantas pessoas quem o titulo de CHEFE  na coluna JobTile

def chiefString(title):
    if'chief' in title.lower():
        return True
    else:
        return False

sum(sfSalarios['JobTitle'].apply(lambda x: chiefString(x)))

627

In [135]:
#Existe uma relação ao tamanho do tibulo do trabalho com o valor do salario? Quanto maior o titulo, maior o salario?

sfSalarios['tamanhoDoTitulo'] = sfSalarios['JobTitle'].apply(len)
sfSalarios.head(2)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,tamanhoDoTitulo
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN,46
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN,31

In [138]:
#Existe uma relação ao tamanho do tibulo do trabalho com o valor do salario? Quanto maior o titulo, maior o salario?

sfSalarios[['tamanhoDoTitulo','TotalPayBenefits']].corr()

                  tamanhoDoTitulo  TotalPayBenefits
tamanhoDoTitulo          1.000000          0.011139
TotalPayBenefits         0.011139          1.000000

In [141]:
#Existe uma relação do tibulo do trabalho CHEFE com o valor do salario? Se tiver o nome chefe no cargo o salario é maior?

sfSalarios['CHEFE?'] = sfSalarios['JobTitle'].apply(lambda x: chiefString(x))

In [142]:
#Existe uma relação do tibulo do trabalho CHEFE com o valor do salario? Se tiver o nome chefe no cargo o salario é maior?

sfSalarios[['CHEFE?','TotalPayBenefits']].corr()

                    CHEFE?  TotalPayBenefits
CHEFE?            1.000000          0.025431
TotalPayBenefits  0.025431          1.000000