In [1]:
import numpy as np
import pandas as pd

In [4]:
estados = ['RJ', 'RJ', 'MG', 'MG', 'SP', 'SP']
cidades = ['Niteroi', 'Saquarema', 'Paracatu', 'Vazante', 'Santos', 'Ubatuba']

In [5]:
#criando hierarquia

hierarquia = list(zip(estados, cidades)) 
hierarquia

[('RJ', 'Niteroi'),
 ('RJ', 'Saquarema'),
 ('MG', 'Paracatu'),
 ('MG', 'Vazante'),
 ('SP', 'Santos'),
 ('SP', 'Ubatuba')]

In [6]:
#agrupando dados 

multiIndex = pd.MultiIndex.from_tuples(hierarquia)
multiIndex

MultiIndex([('RJ',   'Niteroi'),
            ('RJ', 'Saquarema'),
            ('MG',  'Paracatu'),
            ('MG',   'Vazante'),
            ('SP',    'Santos'),
            ('SP',   'Ubatuba')],
           )

In [28]:
#criando DATAFRAME

dframeMultiIndex = pd.DataFrame(np.random.rand(6,2), index = multiIndex, columns = ['IDAH - A', 'IDAH - B'])
dframeMultiIndex

                   IDAH - A  IDAH - B
Estados Cidades
RJ      Niteroi    0.592626  0.179667
        Saquarema  0.894466  0.470803
MG      Paracatu   0.611800  0.497319
        Vazante    0.559085  0.960865
SP      Santos     0.154970  0.238434
        Ubatuba    0.618135  0.153850

In [29]:
#locolizando dados

dframeMultiIndex.loc['RJ'].loc['Niteroi']

IDAH - A    0.592626
IDAH - B    0.179667
Name: Niteroi, dtype: float64

In [30]:
#nomeando indices

dframeMultiIndex.index.names = ['Estados', 'Cidades']
dframeMultiIndex

                   IDAH - A  IDAH - B
Estados Cidades
RJ      Niteroi    0.592626  0.179667
        Saquarema  0.894466  0.470803
MG      Paracatu   0.611800  0.497319
        Vazante    0.559085  0.960865
SP      Santos     0.154970  0.238434
        Ubatuba    0.618135  0.153850

In [25]:
#localizando por  cross-section​ =XS

dframeMultiIndex.xs('RJ')

                  A         B
Cidades
Niteroi    0.736635  0.994299
Saquarema  0.872687  0.280158

In [34]:
#localizando por  cross-section​ =XS

dframeMultiIndex.xs('Niteroi', level='Cidades')

         IDAH - A  IDAH - B
Estados
RJ       0.592626  0.179667